pyarrow==21.0.0
pandas==2.3.1
pillow==11.3.0
numpy==2.2.6
torch==2.7.1+cu118
transformers @ git+https://github.com/huggingface/transformers@cb39f7dd5ba874ee1859b47283b08cd3a6ab5a0d
peft==0.13.2
wandb==0.21.0
humanize==4.12.3
psutil==7.0.0